.darkmode {
  float: right;
  border-radius: 9999px;
  margin: 10px;
  background-color: #ffffff;
  padding: 10px;
  opacity: 0.7;
}
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
.activedarkmode {
  filter: invert(100%);
  opacity: 0.7;
  float: right;
  border-radius: 9999px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  height: 400px;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  background-image: url("wave.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.icon-white {
  filter: invert(100%);
}
.bg-light {
  background-color: white;
}
.bg-dark {
  background-color: #222831;
}
.details label {
  display: block;
}
.border-black {
  border: 2px #000000 solid;
}
.border-white {
  border: 2px #ffffff solid;
}
#avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 9999px;
  display: block;
  margin: 5px auto;
}

#social img {
  display: inline-block;
  border-radius: 5px;
  margin: 25px 10px;
  width: 30px;
  height: 30px;
}

#social img:hover {
  filter: invert(40%) sepia(100%) saturate(2000%) hue-rotate(98deg);
}

#social {
  margin: 20px 0;
}

.subtitle {
  font-size: 1.5rem;
  color: #78cc6d;
}

.title {
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 25px;
}

.companies {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.company-logo {
  height: 30px;
  max-width: 90px;
  object-fit: contain;
}

#tech-stack {
  margin-top: 15px;
}

.tech-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
}

.tech-icons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-icon {
  font-size: 2rem;
}

.btm-btns {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0 -15px;
}
.btm-btns a {
  width: 250px;
  padding: 15px 0;
  font-weight: 600;
}
.btnimg {
  width: 20px;
  height: 18px;
  vertical-align: bottom;
  padding: 0 5px;
}

.btm-btns a:hover {
  filter: invert(40%) sepia(100%) saturate(2000%) hue-rotate(98deg);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  float: right;
  z-index: 1;
  opacity: 0.7;
}

.modeswitch:hover .tooltiptext {
  visibility: visible;
}

#apple-logo {
  vertical-align: top;
}

@media only screen and (max-width: 600px) {
  .details {
    height: 330px;
    width: 250px;
  }

  .subtitle {
    font-weight: 100;
    font-size: 1rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 200;
  }
  .companies {
    gap: 6px;
  }
  .company-logo {
    height: 22px;
    max-width: 70px;
  }
  .tech-icon {
    font-size: 1.6rem;
  }
  #social img {
    margin: 0 10px;
  }

  .btm-btns a {
    width: 125px;
    padding: 15px 5px;
  }
  .btnimg {
    width: 18px;
    height: 15px;
    vertical-align: bottom;
    padding: 0 0;
  }
  #apple-logo {
    vertical-align: baseline;
    height: 6%;
    width: 6%;
  }
}
